/* Dark theme */
$buttonFg:#ddd;
$buttonBg:#444;
$volumeBg:#666;
$volumeLaneFg:#ddd;
$volumeLaneBg:#c8c8c8;
$timeBg:#444;
$timeFg:#eee;
$handleBg:#ddd;
$titleFg:#eee;
$laneBg:#666;
$sliderColor:#66c595;

/* Light theme 
$buttonFg:#444;
$buttonBg:#e7e7e7;
$volumeBg:#f5f5f5;
$volumeLaneFg:#444;
$volumeLaneBg:#fff;
$timeBg:#e7e7e7;
$timeFg:#444;
$handleBg:#fff;
$titleFg:#444;
$laneBg:#f5f5f5;
$sliderColor:#dc9b9b;*/