<div class="track" *ngIf="isInited">
    <div class="section btns">
        <div class="btn play" *ngIf="true" (click)="play()">
            <fa-icon icon="play"></fa-icon>
        </div><div class="btn pause" *ngIf="false" (click)="pause()">
            <fa-icon icon="pause"></fa-icon>
        </div><div class="btn stop" (click)="stop()">
            <fa-icon icon="stop"></fa-icon>
        </div>
    </div><div class="section time current-time">
        <p>{{currentTime}}</p>
    </div><div class="section progress-lane">
        <p-slider [(ngModel)]="progressBar"></p-slider>
        <div class="title">
            <p>{{track.title}}</p>
        </div>
    </div><div class="section time duration">
        <p>{{duration}}</p>
    </div>
</div>